<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="847560061114029">
            <conditions>
                <condition id="6" name="On object clicked" sid="132529811810862" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">play_button</param>
                </condition>
            </conditions>
            <actions>
                <action id="4" name="Set animation" sid="204409231547022" type="play_button">
                    <param id="0" name="Animation">&quot;Press&quot;</param>
                    <param id="1" name="From">1</param>
                </action>
                <action id="-16" name="Wait" sid="832992178354429" type="System">
                    <param id="0" name="Seconds">0.5</param>
                </action>
                <action id="-2" name="Go to layout" sid="783180555947649" type="System">
                    <param id="0" name="Layout">level1</param>
                </action>
                <action id="0" name="Play" sid="942483892851633" type="Audio">
                    <param id="0" name="Audio file">SongJuanIntro</param>
                    <param id="2" name="Loop">0</param>
                    <param id="3" name="Volume">0</param>
                    <param id="1" name="Tag (optional)">&quot;intro1&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="563911784126376">
            <conditions>
                <condition id="6" name="On object clicked" sid="371838823293965" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">play_button2</param>
                </condition>
            </conditions>
            <actions />
        </event-block>
        <event-block sid="879249801411675">
            <conditions>
                <condition id="0" name="On ended" sid="707105894039983" type="Audio">
                    <param id="0" name="Tag">&quot;intro1&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Play" sid="575899869436335" type="Audio">
                    <param id="0" name="Audio file">SongJuanLoop</param>
                    <param id="2" name="Loop">1</param>
                    <param id="3" name="Volume">0</param>
                    <param id="1" name="Tag (optional)">&quot;&quot;</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
